<form action="{{ path('register_process') }}" method="post">
    email <input type="text" name="email"><br>
    password <input type="password" name="password"><br>
    username <input type="text" name="username"><br>

    <button type="submit">OK</button>
</form>
